data
*.pyc
*-checkpoint.ipynb
homework/hw1_rocky.py
homework/grading
_site
.sass-cache
trash
lectures
.env
.idea
gradebook.db
__pycache__
homework/submitted
homework/feedback
homework/autograded
Output
writeups/mdp-cheatsheet.pdf
writeups/mdp-cheatsheet.synctex.gz
homework/grading
.DS_Store
#Arcade-Learning-Environment/
.DS_Store
homework/mjpy/mujoco.h
MUJOCO_LOG.TXT
vendor/mjpro120DEEPRL*